beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.8
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.18.0
pysocks==1.7.1
python-dotenv==1.0.1
requests==2.32.3
rich==13.8.0
soupsieve==2.6
urllib3==2.2.2
